<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ addressTittle }}</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{ address }}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ phone }}</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{ email }}</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ scheduleTittle }}</h4>
                <h6 class="text-light">{{ weekDays }}</h6>
                <p class="mb-4">{{ weekDaysSchedule }}</p>
                <h6 class="text-light">{{ weekend }}</h6>
                <p class="mb-0">{{ weekendSchedule }}</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ servicesTittle }}</h4>
                <a class="btn btn-link" href="">{{ diagnosticTest }}</a>
                <a class="btn btn-link" href="">{{ engineServicing }}</a>
                <a class="btn btn-link" href="">{{ tiresReplacement }}</a>
                <a class="btn btn-link" href="">{{ oilChanging }}</a>
                <a class="btn btn-link" href="">{{ vacuamCleanig }}</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ newsletter }}</h4>
                <p>{{ newsletterMessage }}</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="{{ yourEmail }}">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">{{ signUp
                        }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">{{ tittle }}</a>, {{ allRights }}.
                    {{ designedBy }} <a class="border-bottom" href="felixdevs.com/">{{ designerName }}</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->