<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-1">
    <a href="/dashboard">
      <img src="assets/img/segma-logo-foto.png" alt="SEGMA Logo" width="175">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a class="nav-item nav-link" (click)="navigate()">{{ redirectUrl === '/cotizacion' ? 'Cotización' : 'Dashboard' }}</a>
      </div>
      
    </div>
  </nav>
  <!-- Navbar End -->